.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.characterSection {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.detailsSection {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px;
}
