.app {
    width: 100%;
    min-height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
}

#root {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  background-color: var(--background-color);
}

