:root {
  --background-color-light: rgba(255, 255, 255, 0.87);
  --text-color-light: #213547;
  --link-color-light: #646cff;
  --link-hover-color-light: #535bf2;
  --button-bg-light: #cccccc;
  --button-border-light: #646cff;

  --background-color-dark: #242424;
  --text-color-dark: rgba(255, 255, 255, 0.87);
  --link-color-dark: #646cff;
  --link-hover-color-dark: #747bff;
  --button-bg-dark: #1a1a1a;
  --button-border-dark: #646cff;
}

[data-theme='light'] {
  --background-color: var(--background-color-light);
  --text-color: var(--text-color-light);
  --link-color: var(--link-color-light);
  --link-hover-color: var(--link-hover-color-light);
  --button-bg: var(--button-bg-light);
  --button-border: var(--button-border-light);
}

[data-theme='dark'] {
  --background-color: var(--background-color-dark);
  --text-color: var(--text-color-dark);
  --link-color: var(--link-color-dark);
  --link-hover-color: var(--link-hover-color-dark);
  --button-bg: var(--button-bg-dark);
  --button-border: var(--button-border-dark);
}
