.container {
  position: fixed;
  width: calc(100% - 80px);
  right: 0;
  bottom: 0;
  background-color: var(--background-color);
  margin: 20px;
  padding:10px;
  border: 1px solid red;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
